* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-tile-pane {
  z-index: 1;
}

.leaflet-overlay-pane {
  z-index: 2;
}